---
layout: default
title: "Home"
permalink: /
---

<div class="row">
    <div class="col-lg-3 col-md-4">
        {% include widgets/profile_card.html %}
    </div>
    <div class="col-lg-9 col-md-8">

        {% include widgets/profile_card_bio_only.html %}

        {% if site.data.display.homepage.show_experience %}
            {% include widgets/experience_card.html %}
        {% endif %}

        {% if site.data.display.homepage.show_news %}
        {% assign count_news = site.news | size %}
        {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
        {% endif %}
        {% endif %}

        {% if site.data.display.homepage.show_selected_publications %}
        {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
        {%
        include widgets/publication_card.html
        publications=pubs
        title='<i class="fas fa-star"></i> Selected Publications'
        %}
        {% endif %}

        <h2>Publications</h2>
        {% assign all_pubs = site.publications | sort: "date" | reverse %}
        {% for pub in all_pubs %}
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">{{ pub.title }}</h3>
                <p class="card-text">{{ pub.excerpt }}</p>
                <a href="{{ pub.url }}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
